.text-25 {
  font-size: calc(1.28125rem + 0.375vw) !important;
}

.text-26 {
  font-size: calc(1.2875rem + 0.45vw) !important;
}

.text-27 {
  font-size: calc(1.29375rem + 0.525vw) !important;
}

.text-28 {
  font-size: calc(1.3rem + 0.6vw) !important;
}

.text-29 {
  font-size: calc(1.30625rem + 0.675vw) !important;
}

.text-30 {
  font-size: calc(1.3125rem + 0.75vw) !important;
}

.text-31 {
  font-size: calc(1.31875rem + 0.825vw) !important;
}

.text-32 {
  font-size: calc(1.325rem + 0.9vw) !important;
}

.text-33 {
  font-size: calc(1.33125rem + 0.975vw) !important;
}

.text-34 {
  font-size: calc(1.3375rem + 1.05vw) !important;
}

.text-35 {
  font-size: calc(1.34375rem + 1.125vw) !important;
}

.text-36 {
  font-size: calc(1.35rem + 1.2vw) !important;
}

.text-37 {
  font-size: calc(1.35625rem + 1.275vw) !important;
}

.text-38 {
  font-size: calc(1.3625rem + 1.35vw) !important;
}

.text-39 {
  font-size: calc(1.36875rem + 1.425vw) !important;
}

.text-40 {
  font-size: calc(1.375rem + 1.5vw) !important;
}

.text-41 {
  font-size: calc(1.38125rem + 1.575vw) !important;
}

.text-42 {
  font-size: calc(1.3875rem + 1.65vw) !important;
}

.text-43 {
  font-size: calc(1.39375rem + 1.725vw) !important;
}

.text-44 {
  font-size: calc(1.4rem + 1.8vw) !important;
}

.text-45 {
  font-size: calc(1.40625rem + 1.875vw) !important;
}

.text-46 {
  font-size: calc(1.4125rem + 1.95vw) !important;
}

.text-47 {
  font-size: calc(1.41875rem + 2.025vw) !important;
}

.text-48 {
  font-size: calc(1.425rem + 2.1vw) !important;
}

.text-49 {
  font-size: calc(1.43125rem + 2.175vw) !important;
}

.text-50 {
  font-size: calc(1.4375rem + 2.25vw) !important;
}

.text-51 {
  font-size: calc(1.44375rem + 2.325vw) !important;
}

.text-52 {
  font-size: calc(1.45rem + 2.4vw) !important;
}

.text-53 {
  font-size: calc(1.45625rem + 2.475vw) !important;
}

.text-54 {
  font-size: calc(1.4625rem + 2.55vw) !important;
}

.text-55 {
  font-size: calc(1.46875rem + 2.625vw) !important;
}

.text-56 {
  font-size: calc(1.475rem + 2.7vw) !important;
}

.text-57 {
  font-size: calc(1.48125rem + 2.775vw) !important;
}

.text-58 {
  font-size: calc(1.4875rem + 2.85vw) !important;
}

.text-59 {
  font-size: calc(1.49375rem + 2.925vw) !important;
}

.text-60 {
  font-size: calc(1.5rem + 3vw) !important;
}

.text-61 {
  font-size: calc(1.50625rem + 3.075vw) !important;
}

.text-62 {
  font-size: calc(1.5125rem + 3.15vw) !important;
}

.text-63 {
  font-size: calc(1.51875rem + 3.225vw) !important;
}

.text-64 {
  font-size: calc(1.525rem + 3.3vw) !important;
}

.text-65 {
  font-size: calc(1.53125rem + 3.375vw) !important;
}

.text-66 {
  font-size: calc(1.5375rem + 3.45vw) !important;
}

.text-67 {
  font-size: calc(1.54375rem + 3.525vw) !important;
}

.text-68 {
  font-size: calc(1.55rem + 3.6vw) !important;
}

.text-69 {
  font-size: calc(1.55625rem + 3.675vw) !important;
}

.text-70 {
  font-size: calc(1.5625rem + 3.75vw) !important;
}

.text-71 {
  font-size: calc(1.56875rem + 3.825vw) !important;
}

.text-72 {
  font-size: calc(1.575rem + 3.9vw) !important;
}

.text-73 {
  font-size: calc(1.58125rem + 3.975vw) !important;
}

.text-74 {
  font-size: calc(1.5875rem + 4.05vw) !important;
}

.text-75 {
  font-size: calc(1.59375rem + 4.125vw) !important;
}

.text-76 {
  font-size: calc(1.6rem + 4.2vw) !important;
}

.text-77 {
  font-size: calc(1.60625rem + 4.275vw) !important;
}

.text-78 {
  font-size: calc(1.6125rem + 4.35vw) !important;
}

.text-79 {
  font-size: calc(1.61875rem + 4.425vw) !important;
}

.text-80 {
  font-size: calc(1.625rem + 4.5vw) !important;
}

.text-81 {
  font-size: calc(1.63125rem + 4.575vw) !important;
}

.text-82 {
  font-size: calc(1.6375rem + 4.65vw) !important;
}

.text-83 {
  font-size: calc(1.64375rem + 4.725vw) !important;
}

.text-84 {
  font-size: calc(1.65rem + 4.8vw) !important;
}

.text-85 {
  font-size: calc(1.65625rem + 4.875vw) !important;
}

.text-86 {
  font-size: calc(1.6625rem + 4.95vw) !important;
}

.text-87 {
  font-size: calc(1.66875rem + 5.025vw) !important;
}

.text-88 {
  font-size: calc(1.675rem + 5.1vw) !important;
}

.text-89 {
  font-size: calc(1.68125rem + 5.175vw) !important;
}

.text-90 {
  font-size: calc(1.6875rem + 5.25vw) !important;
}
